# Instalacion de paquetes
Instalar pip a travès del notebook

In [ ]:
!pip install pandas

# Packages import 
Se deben importar los paquetes al inicio del archivo

In [2]:
import pandas as pd

# Carga de datos

In [13]:
data = {
    'Nombre': ['Rodolfo', 'Eva', 'María', 'Rosa'],
    'Edad': [46, 43, 9, 37],
    'Ciudad': ['Punta Arenas', 'Santiago', 'Osorno', 'Osorno'],
    'Salario': [1400000, 1800000, None, 4500000],
    'Departamento': ['IT', 'Ventas', None, 'Recursos Humanos']
}
df = pd.DataFrame(data)
df

    Nombre  Edad        Ciudad    Salario      Departamento
0  Rodolfo    46  Punta Arenas  1400000.0                IT
1      Eva    43      Santiago  1800000.0            Ventas
2    María     9        Osorno        NaN              None
3     Rosa    37        Osorno  4500000.0  Recursos Humanos

# Ejercicios

Utilizando los set de datos en raw_data se pide realizar las siguientes tareas:

## 1. Filtrado y seleccion de datos
- Selecciona todas las personas que tienen más de 30 años.
- Encuentra todos los productos con un descuento superior a 10%.
- Filtra las órdenes realizadas con el método de pago "debito".

## 2. Analisis de duplicados y llenado de nulos
Rellena los valores nulos de correo electrónico con el formato {nombre}.{apellido}@example.com

Desafio: Quitar las tildes (se recomienda buscar la funcion 'normalize' del paquete 'unicodedata')

## 3. Agrupación y Resumen de Datos (Parte 1)
- Une el dataset de orden con personas para obtener la información de contacto de las personas que realizaron las órdenes.
- Agrupa las órdenes por persona_id y calcula la suma de la cantidad comprada para cada persona.

## 3. Agrupación y Resumen de Datos (Parte 2)
- Une el dataset de orden con productos para agregar la información de precios y descuentos a las órdenes.
- Agrupa las órdenes por producto y calcula el total de ingresos por cada producto (considerando el precio,la cantidad comprada y su descuento).

## 4. Análisis de Fechas
- Calcula el tiempo transcurrido desde la primera compra de cada persona hasta la última.